<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Component Input</title>
</head>
<body>
    <div class="center">
        <div>
            <form action="{{ url_for("componentInput")}}" method="post">
                <label for="component">Component:</label>
                <input type="text" id="component" name="component" placeholder="">
                <button type="submit">Enter</button>
            </form>      
        </div>

        <div class="horizCenter">
            {% for table in tables %}
                <div class="horizCenter">
                    {{ table|safe }}
                </div>
            {% endfor %}
        </div>


    </div>



</body>
<script>


</script>
</html>